section{
  margin-bottom:200px;
}
input{
  display:inline-block;
}
.card_wrap{
  width:80%;
  margin:0 auto;
}
.card-title{
  width:100%;
  height:50px;
  display:flex;
  margin-top:100px;
  margin-bottom: 10px;
  border:1px solid#dedede;
  line-height: 50px;
  padding:0 20px;
  background:#f2f2f2;
}
.title-info{
  margin-right:50%;
}
.title-count{
  width:12%;
  text-align: center;
}
.title-price,.title-smSum{
  width:10%;
  text-align: center;
  border-left:1px solid#dedede;
  border-right:1px solid#dedede;
  outline: 0;
}
.card-content{
  width:100%;
  margin-bottom:10px;
}
.content-designer{
  width:100%;height:50px;
  line-height: 50px;
  border:1px solid#dedede;
  background:#f2f2f2;
  padding:0 20px;
}
.content-inner{
  position: relative;
  width:100%;
  height:150px;
  display:flex;
  margin-bottom: 10px;
  border:1px solid#dedede;
  padding:0 20px;
  vertical-align: middle;
}
.small-pic{
  height:100px;
}
.small-pic img{
  height:100%;
}
.inner-info{
  display:flex;
  width:100%;
  line-height: 50px;
  margin-top:20px;
}
.product-details{
  margin-right:400px;
}
.sel{
 margin:40px 10px; 
}
.inner-price,.inner-smSum{
  width:10%;
  text-align: center;
}
.btn-count{
  width:35px;
  height:35px;
  color:#444;
  font-weight:700;
  cursor: pointer;
}
.count-text{
  display: inline-block;
  height:31px;
  width:70px;
  text-align: center;
}
.inner-count{
  width:12%;
  text-align: center;
}
#delete{
  display:block;
  width:5%;
  text-align: center
}
.card-bottom{
  margin-top:10px;
  width:100%;
  display:flex;
  justify-content: space-between;
}
#delAll{
  width:100px;
  height:30px;
  background:linear-gradient(#666 0,#666 100%);
  color:#fff;
  outline: 0;
  cursor: pointer;
}
#discount{
  color:#ff7500;
}
#sumAll{
  width:100px;
  height:40px;
  background:#04B4AE;
  color:#fff;
  border:0;
  border-radius:5px;
  cursor: pointer;
}